@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@keyframes appear {
    from {
        opacity: 0;
       transform: translateX(100px); 
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear2 {
    from {
        opacity: 0;
       transform: translateX(-200px); 
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes show {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    animation: show 1.5s ease-in-out;
    background: linear-gradient(145deg,#0A1E3F,#0A1E3F,#143c7b,#2363ca)fixed;
}
header{
    display: block;
    min-height:70px;
    text-align:left;
    padding:20px 0px 1px 0px;
    background: linear-gradient(to bottom,#2C3E50,#3b536a);
    color: #BDC3C7;
    font-family:montserrat;
    text-shadow: 1px 1px 2px black;
}
.principal{
    display: block;
} 

header h1{
    display:inline;
    text-align: center;
    font-size:5vw;
    padding-left:10px;
    transition-duration:0.5s;
}
header h1:hover{
font-size:5.3vw; 
}

#menu{
    display: none;
    margin:10px 0px 0px 10px;
    cursor: pointer;
    font-size:5vw;
    text-shadow:2px 2px 2px black;
    transition-duration: 0.5s;
}
#menu:hover{
    font-size: 5.5vw;
}

 #itens {
    display: none;
    animation: appear2 0.5s linear;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.329);
    margin-top: 10px;
    list-style:circle;
    list-style-position: inside;
    text-align: left;
    background: linear-gradient(120deg, #0A1E3F, #0A1E3F, transparent );
}

.redes2:hover{
    text-decoration: underline;
}
.EM-CIMA{
    margin-left: 10px;
    animation: show 0.5s ease-in-out;
    padding: 5px 0px 5px 5px;
}

.EM-CIMA a {
    color: #BDC3C7;
    text-decoration: none;
    font-weight: 1000;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.527);
    transition-duration: 0.5s;
}

.EM-CIMA a:hover{
   text-shadow: 0px 0px 0.5px #00ff006b;
}

#redes ul{
    display: none;
    animation: appear2 0.5s linear;
}

#redes span{
    font-size: 1em;
}

#redes:hover ul{
    display: inline;
    padding: 10px 0px 0px 0px;
    list-style: none;
}

#redes:hover span{
    display: none;
}

main .mp{
    padding: 20px 0px 20px 0px;
    text-align: center;
    background: linear-gradient(to bottom,#0A1E3F,#0A1E3F,#143c7b,#2363ca)fixed;
}

.mp h1{
    display: inline-block;
    font-family:"Open Sans";
    padding: 10px;
    font-size:2.7em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);
    color: #BDC3C7; 
    background: linear-gradient(to bottom,#06132752 , transparent );
    border-radius: 45%;
}
.parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    background-image: url('imagens/pexels-cookiecutter-17489155.jpg');
   background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    box-shadow: inset 0px 0px 15px 5px black;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 180px;
    padding:20px 10px;
    overflow: hidden;
    }

    .card-list .card-item{
        list-style: none;
    }

    .card-list .card-item .card-link {
        user-select: none;
        display: block;
        background: #BDC3C7;
        padding: 18px;
        border-radius: 12px;
        text-decoration: none;
        border: 2px solid transparent;
        box-shadow: 0 10px 10px rgba(rgba(0, 0, 0, 0.055));
        transition: 0.2s ease;
    }
    
    .card-list .card-item .card-link:hover{
        border-color: #00FF00;
    }
    
    .card-list .card-link .card-image {
     width: 100%;
     aspect-ratio: 16/9;
     border-radius: 10px;
    } 

    .card-list .card-link .badge{
        color:#5372f0;
        padding:8px 16px;
        font-size:0.95rem;
        font-weight: 500;
        margin: 16px 0 20px;
        background: #DDE4FF;
        width:fit-content;
        border-radius: 50px;
    }

    .card-title{
        font-family: lato;
        text-align: justify;
        color: #0A1E3F;
        text-shadow: 1px 1px 3px #0a1e3fa3;
    }

    .card-wrapper .swiper-pagination-bullet {
        height:13px;
        width: 13px;
        position: relative;
        box-sizing: border-box;
        opacity: 0.5;
        background: #5372f0;
    }

    .card-wrapper .swiper-pagination-bullet-active{
        opacity: 1;
    }

    .card-wrapper .swiper-slide-button{
     color: #5372f0;
     margin-top: -35px;
}

    .conheça{
        padding: 20px 0px 20px 0px;
        text-align: center;
        font-family: "Open Sans";
        font-size:2.7em;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);
        color: #BDC3C7;
        background: linear-gradient(to bottom,#0A1E3F,#0A1E3F,#143c7b,#2363ca)fixed;
    }
.sobre{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
}
.texto{
    flex-basis: 500px;
    flex-grow: 1;
    color: #BDC3C7;
    background: linear-gradient(145deg,#0A1E3F,#0A1E3F,#143c7b,#2363ca)fixed;
    border: 1px solid #BDC3C7;
    border-radius:10px 2px;
    box-shadow: 5px 5px 10px #0A1E3F;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}
.texto p{
    text-align: justify;
    margin: 10px;
    font-family: roboto;
    font-size: 1.4em;
    text-indent: 10px;
}
.img{
   flex: auto;
   text-align: right;
   animation: appear linear;
   animation-timeline: view();
   animation-range: entry 0% cover 20%;
}

.img img{
    margin: 5vh 0px 10px 4vw;
    width: 50px;
    border-radius:50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.521);
    transition-duration:0.5s;
    box-sizing: border-box;
}
.img img:hover{
    border: 1.5px solid #00FF00;
    width: 60px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.521);
}


@media screen and (min-width:992px) {
   .texto{
    width: 500px;
    position: relative;
    left: 20%;
   } 
   .texto p{
    font-size:130%;
   }
   .img img{
    margin: 5vh 10px 10px 4vw;
   }
}

@media screen and (max-width:700px){
    .card-wrapper .swiper-slide-button{
        display: none;
    }

    #menu{
        display: inline;
    }
}
@media screen and (min-width:700px){
    header h1{
        display: block;
        font-size:3vw;
        text-align: center;
    }
    #menu{
        display: none;
    }
    #itens{
        display: block;
        padding: 10px;
        text-align: center;
        background: none;
        margin: 10px;
    }
    .EM-CIMA {
        display: inline-block;
        padding: 0px 10px 0px 10px;   
    }

}


