@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
}
body{
    background: linear-gradient(145deg,#0A1E3F,#0A1E3F,#143c7b,#2363ca)fixed;
}
header{
    min-height:70px;
    text-align:left;
    padding:10px 0px 10px 0px;
    background: linear-gradient(to right,#2C3E50,#3b536a);
    color: #BDC3C7;
    font-family:montserrat;
    text-shadow: 1px 1px 2px black;
}
.principal{
    display: inline-block;
}
header h1,p{
    font-size:2.5vw;
    padding-left:10px;
}
header h1{
    transition-duration:0.5s;

}
header h1:hover{
font-size:2.7vw;
}
main h1{
     font-family: caveat;
    padding: 20px 0px 10px 0px;
    text-align: center;
    font-family: caveat;
    font-size:3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.466);
    color: #BDC3C7;
}
.parallax{
    height: 45vh;
    max-width:100vw;
    margin-top: 20px;
    background-image: url('imagens/pexels-cookiecutter-17489155.jpg');
   background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    box-shadow: inset 0px 0px 15px 5px black;
    filter:blur(2px);
}
.sobre{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}
.texto{
    flex-basis: 500px;
    flex-grow: 1;
    color: #BDC3C7;
    background: linear-gradient(145deg,#0A1E3F,#0A1E3F,#143c7b,#2363ca)fixed;
    border: 1px solid #BDC3C7;
    border-radius:10px 2px;
    box-shadow: 5px 5px 10px #0A1E3F;
}
.texto p{
    text-align: justify;
    margin: 10px;
    font-family: roboto;
    font-size: 1.4em;
    text-indent: 10px;
}
.img{
   flex: auto;
   text-align: right;
   
}
.img img{
    margin: 5vh 0px 10px 4vw;
    width: 50px;
    border-radius:50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.521);
    transition-duration:0.5s;
    box-sizing: border-box;
}
.img img:hover{
    border: 1.5px solid #00FF00;
    width: 60px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.521);
}
@media screen and (min-width:1000px) {
   .texto{
    width: 500px;
    position: relative;
    left: 20%;
   } 
   .texto p{
    font-size:130%;
   }
   .img img{
    margin: 5vh 10px 10px 4vw;
   }
}

